* {
    margin: 0;
}

body,
button,
a,
div,
span {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
}

button {
    border: none;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(/public/img/house.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

}

.flex {

    display: flex;
    justify-content: center;
    align-items: center;

}

@keyframes size {
    0% {
        left: calc(50vw - 100px);
        top: calc(50vh - 100px);
        width: 200px;
        height: 200px;
        pointer-events: all;


    }

    1% {
        pointer-events: none;
    }



    40% {

        left: calc(50vw - 100px);
        top: calc(50vh - 100px);
    }

    60% {
        left: -30px;
        top: -30px;

    }

    65% {

        left: -30px;
        top: -30px;
        width: 200px;
        height: 200px;

    }

    99% {
        pointer-events: none;
    }

    100% {

        left: -230px;
        top: -230px;
        width: 600px;
        height: 600px;
        pointer-events: all;
    }
}

header {
    margin: 0;
    transition: all 1s ease-in-out;



}

.header-not-active {
    width: 600px;
    height: 600px;
    left: -230px;
    top: -230px;
    animation: size 3s ease-in-out;

}

.header-active {
    width: 200px;
    height: 200px;
    left: calc(50vw - 100px);
    top: calc(50vh - 100px);
    animation: size 3s ease-in-out alternate-reverse;

}






.backImg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: url(/public/img/vinyl.png), pointer;
}



.backImg p {
    transition: 1s;


}



button:hover {
    rotate: 315deg;
}


#ongletA {
    z-index: 5;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: #ffffff;
    cursor: pointer;


}

#ongletA:hover {
    rotate: none;


}



#ongletA:active {
    background-color: #dbdbdb;
}

@media (hover: hover) and (pointer: fine) {
    #ongletA:hover~.backImg {
        filter: opacity(0);
        rotate: 360deg;
        width: 600px;
        height: 600px;
        transition-duration: 2s;

    }

    #ongletA:hover~.backImg p {
        display: none;

    }

    #ongletA:hover~.ongletE:not(:focus) {
        background-image: url(/public/img/vinyl-full.png);
        rotate: 720deg;
        transition-duration: 2s;
        width: 600px;
        height: 600px;


    }

}






.ongletB {
    z-index: 4;
    width: 50%;
    height: 50%;
    border-radius: 100%;
    background-color: #4a215b;
    transition-duration: 1s;

}







.ongletB:focus {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.ongletB:focus~.ongletC:not(:focus) {
    width: 50%;
    height: 50%;
}

.ongletB:focus~.ongletD:not(:focus) {
    width: 66.66%;
    height: 66.66%;
}

.ongletB:focus~.ongletE:not(:focus) {
    width: 83.33%;
    height: 83.33%;
}


.ongletC {
    z-index: 3;
    width: 66.66%;
    height: 66.66%;
    border-radius: 100%;
    background-color: #9c3953;
    transition-duration: 1s;
}




.ongletC:focus {
    z-index: 0;
    position: fixed;
    width: 300vw;
    height: 300vw;
}

.ongletC:focus~.ongletD:not(:focus) {
    width: 66.66%;
    height: 66.66%;
}

.ongletC:focus~.ongletE:not(:focus) {
    width: 83.33%;
    height: 83.33%;
}

.ongletD {
    z-index: 2;
    width: 83.33%;
    height: 83.33%;
    border-radius: 100%;
    background-color: #eb5b44;
    transition-duration: 1s;
}



.ongletD:focus {
    z-index: 0;
    position: fixed;
    width: 300vw;
    height: 300vw;
}

.ongletD:focus~.ongletE:not(:focus) {
    width: 83.33%;
    height: 83.33%;
}

.ongletE {
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: #ee7539;
    transition-duration: 1s;
}



.ongletE:focus {
    z-index: 0;
    position: fixed;
    width: 300vw;
    height: 300vw;
    background-image: none;
}





.abso {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: opacity(0.5);

}




.logo {

    top: 40px;
    z-index: 6;
    height: 100px;
    transition: 2s;
    transform-origin: 50% 60%;
}

.logo-b {
    z-index: 7;
}

@keyframes rotate {
    20% {
        rotate: 0deg;
    }

    50% {
        rotate: 360deg;
    }

    70% {
        rotate: 360deg;
    }

    100% {
        rotate: 0deg;
    }
}

@keyframes rotate-reverse {
    20% {
        rotate: 0deg;
    }

    50% {
        rotate: -360deg;
    }

    70% {
        rotate: -360deg;
    }

    100% {
        rotate: 0deg;
    }
}

.logo-circle-little {
    animation: 5s rotate-reverse;
}



#ongletA:hover .logo-circle-little {

    rotate: -360deg;
}

.logo-circle-big {
    animation: 5s rotate;
}

#ongletA:hover .logo-circle-big {

    rotate: 360deg;
}

#ongletA:hover #text-logo {
    color: black;
}

@keyframes color {
    20% {
        color: rgba(0, 0, 0, 0);
    }

    50% {
        color: black;
    }

    70% {
        color: black;
    }

    100% {
        color: rgba(0, 0, 0, 0);
    }
}

#text-logo {
    top: 135px;
    font-size: 30px;
    z-index: 7;
    color: rgba(0, 0, 0, 0);
    animation: 5s color;
}




p {
    color: #ffffff;
    font-family: monospace;
    position: absolute;
    bottom: 20px;
    text-decoration: none;


}

@keyframes footer {
    0% {
        bottom: -50px;
    }

    80% {
        bottom: -50px;
    }

    100% {
        bottom: 0;
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: footer 5s;

}

#footerbutton {
    position: relative;
    top: 0;
    width: 50px;
    height: 30px;
    border-radius: 25px 25px 0 0;
    background-color: #ffffff;
    padding: 0;
    transition-duration: 1s;
}



footer div {
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition: 1s;

}

#footerbutton:hover {
    rotate: none;
}

#footerbutton:focus {
    top: 32px;
    z-index: 0;


}

#footerbutton:focus~div {
    height: 100px;
    z-index: 1;
}